@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primaryLig: #01013b;
    --secondaryLig: #5b7db1;
    --primaryDark: #4a00e0;
    --secondaryDark: #8e2de2;
  }
}
